<form action="/api/users" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-light">Nombre</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="Cloe">
        </div>
        <div class="form-group">
            <label for="animal" class="text-light">Animal</label>
            <input type="text" name="animal" value="" placeholder="Perro">
        </div>
        <div class="form-group">
            <label for="raza" class="text-light">Raza</label>
            <input type="text" name="raza" value="" placeholder="Shitzu">
        </div>
        <div class="form-group">
            <label for="age" class="text-light">Años</label>
            <input type="number" name="age" value="" placeholder="7">
        </div>
        <div class="form-group">
            <label for="service" class="text-light">Servicio</label>
            <input type="text" name="service" value="" placeholder="Baño">
        </div>
        <div class="form-group">
            <label for="name2" class="text-light">Dueño</label>
            <input type="text" name="name2" value="" placeholder="Yipsi Diaz">
        </div>
        <div class="form-group">
            <label for="phone" class="text-light">Teléfono</label>
            <input type="number" name="phone" value="" placeholder="3193856404">
        </div>
        <div class="form-group">
            <label for="email" class="text-light">Correo</label>
            <input type="email" name="email" value="" placeholder="carolad079@gmail.com">
        </div>
        <div class="form-group">
            <button type="submit" class="btn text-dark update">Guardar</button>
        </div>
    </div>
</form>